:root {
    --color: red ;
    --tamanoCampanasW:30%;
    --tamanoCampanasH:15%;
    
 }

.reloj-mobile{
    display: none;
}

body{
    background-color: rgb(228, 93, 93);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.seccion-principal{
    background-color: rgb(228, 93, 93);
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo{
    margin-top: 0;
    font-size: 70px;
    text-align: center;
}

.reloj{
    
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.campana1{
    width:var(--tamanoCampanasW); 
    height:var(--tamanoCampanasH);
    position: absolute;
   
    left: -18%;
    top: -4%;
    transform: rotate(-45deg);
    border: 2px solid #555; 
    border-radius: 100px 100px 0 0;
    background-color: yellow;

    /* animation-name: vibracion;
    animation-duration: 0.1s;
    animation-fill-mode: initial;
    animation-iteration-count: 15; */
}
.campana2{
   
    position: absolute;
    left: 77%;
    top: -4%;
    transform: rotate(45deg);
    width:var(--tamanoCampanasW); 
    height:var(--tamanoCampanasH);
    border: 2px solid #555; 
    border-radius: 100px 100px 0 0;
    background-color: #ffff00;

   /* animation-name: vibracion2;
    animation-duration: 0.1s;
    animation-fill-mode: initial;
    animation-iteration-count: 15; */
}
.cuerpoDeReloj{
    position: relative;
    margin: 0 auto;
    width: 40%;
    height: 65%;
    border: 2px solid #555; 
    border-radius: 50%;
    background-color: red;

 /*   animation-name: vibracion3;
    animation-duration: 0.1s;
    animation-fill-mode: initial;
    animation-iteration-count: 15; */
}

.centroDeReloj{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    border: 2px solid #555; 
    border-radius: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.cronometro { 
    display: flex;
    position: absolute;
    width: 150px; height: 100px; padding: 5px 10px; border: 1px solid var(--color); 
    font: bold 2.5rem dotum, "lucida sans", arial; 
    color:var(--color);
    justify-content: center;
    align-items: center;
    float: right; 
    border-radius: 10px;
 }

.mueble {
    
    display: grid;
    width: 100%;
    height: 20%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    
    background-color: rgb(104, 42, 42);
    border-radius: 10px;

    align-items: center;
    justify-items: center;
}
.boton{
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    height: 70%;
 
    background-color: gray;
    border-radius: 10px;
    right: 50px;


}

.boton{
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    height: 70%;
   
    background-color: gray;
    border-radius: 10px;
}

@keyframes vibracion {
    
    0%{
        transform: rotate(-45deg); 
      
    }
    50%{
        transform: rotate(-55deg);

    }
    100%{
        transform: rotate(-45deg);
        
    }
}

@keyframes vibracion2 {
    
    0%{
        transform: rotate(45deg);       
    }
    50%{
        transform: rotate(55deg);

    }
    100%{
        transform: rotate(45deg);
    }
}

@keyframes vibracion3 {
    
    0%{
        left: 0.5%;      
    }
    
}

@media (max-width:1100px){

   .cuerpoDeReloj{
        width: 80%;
        height: 85%;
}
}


@media (max-width:850px){
    .reloj{
        display: none;
    }
    .reloj-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 60%;
        background-color: rgb(104, 42, 42);
    }
    .cronometro-mobile{
        display: flex;

        border: 2px solid #555;
        padding: 0 2em;
        margin-bottom: 2em;

    }
    .botones-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        width: 90%;
        height: 40%;
        
    }
    
    .primer-boton{
        margin-right: 1em;
    }

    .boton{
        width: 40%;
        height: 40%;

    }
    


    h2{
        font-size: 5rem;
    }

}
